<h1><a href="/">VJ4Real</a></h1>

<div id="player">

  <div id="player-stage">
    <div id="player-left"></div>
    <div id="player-right"></div>
  </div>

  <form id="controls">
    <label for="video_left">Video left</label>
    <input type="text" name="video_left" value="<%= @video_left %>">

    <label for="video_right">Video right</label>
    <input type="text" name="video_right" value="<%= @video_right %>">

    <label for="crossfade audio">Audio Crossfade</label>
    <input name="audio_crossfade" type="range" id="crossfade_audio" min="0" value="<%= @audio_crossfade %>" max="100">

    <label for="crossfade_video">Video Crossfade</label>
    <input name="video_crossfade" type="range" id="crossfade_video" min="0" value="<%= @video_crossfade %>" max="100">


    <input type="submit" value="save">
  </form>

</div>