<h1>vj 4real</h1>

<div id="player">

  <div id="player-stage">
    <div id="player-left"></div>
    <div id="player-right"></div>
  </div>

  <form id="controls">


    <label for="crossfade audio">Audio Crossfade</label>
    <input name="audio_crossfade" type="range" id="crossfade_audio" min="0" value="50" max="100">

    <label for="crossfade_video">Video Crossfade</label>
    <input name="crossfade[video]" type="range" id="crossfade_video" min="0" value="50" max="100">


    <input type="submit" value="save">
  </form>

</div>