// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#player {
  margin: auto;
  text-align: center;
  width: 853px;
  @media(min-width: 1280px) {
    width: 1280px;
  }

}

#player-stage {
  height: 480px;
  position: relative;
  @media(min-width: 1280px) {
    height: 720px;
  }

}

#player-stage iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-flow: wrap;
}

label {
  display: block;
  margin: 1em 0;
  text-align: left;
  width: 100%;
}

input {
  box-sizing: border-box;
  display: block;
  font: inherit;
  margin: 1em 0;
  width: 100%;
}

input[type="submit"] {
  width: auto;
}

form#controls {
  display: flex;
  flex-flow: row wrap;
}

.col,
.cols {
  box-sizing: border-box;
  padding: 0 2em;
  &.one {
    width: 50%;
  }

  &.two {
    width: 100%;
  }
}